astroid
awscli
beautifulsoup4
boto3
botocore
certifi
chardet
colorama
cssselect
decorator
docutils
falcon
httpie
idna
isort
jmespath
lambda-uploader
lazy-object-proxy
lxml
mccabe
py
pyasn1
Pygments
pylint
python-dateutil
python-lambda-local
python-mimeparse
PyYAML
requests
retry
rsa
s3transfer
six
slackweb
urllib3
urlopen
virtualenv
wrapt